* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
}

@font-face {
  font-family: "Space Grotesk";
  src: url(fonts/SpaceGrotesk-VariableFont_wght.ttf);
  src: url(fonts/static/SpaceGrotesk-Bold.ttf);
  src: url(fonts/static/SpaceGrotesk-Light.ttf);
  src: url(fonts/static/SpaceGrotesk-Medium.ttf);
  src: url(fonts/static/SpaceGrotesk-Regular.ttf);
  src: url(fonts/static/SpaceGrotesk-SemiBold.ttf);
}
body {
  font-family: "Space Grotesk", sans-serif;
}

.cards_container {
  width: 20%;
  height: 100vh;
  background-image: url(images/bg-main-desktop.png);
  background-size: cover;
}

.container {
  display: flex;
}

.card_back {
  position: absolute;
}

.form_container {
  width: 80%;
  height: 100vh;
}
.form_container input {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.form_container label {
  text-transform: uppercase;
  font-size: 0.65rem;
  color: #8e8593;
}
.form_container .cards_info_container {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-10%, -50%);
  width: 50%;
}
.form_container .cards_info_container input {
  width: 22rem;
  border-radius: 10px;
  border: 1.5px solid #8e8593;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
.form_container .cards_info_container input::active {
  border: 1.5px solid Linear-gradient(#6448fe, #600594);
}
.form_container .date_container {
  display: flex;
}
.form_container .date_container input {
  width: 3rem;
  border: 1.5px solid #8e8593;
  font-size: 1rem;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}
.form_container .date_container input::active {
  border: 1.5px solid Linear-gradient(#6448fe, #600594);
}
.form_container .date_container .date_info_p2 {
  margin-left: 2.5rem;
}
.form_container .date_container .date_info_p2 #cvc {
  width: 6rem;
  border: 1.5px solid #8e8593;
  font-size: 1rem;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}
.form_container .submit button {
  background-color: #21092f;
  width: 24rem;
  border-radius: 10px;
  height: 5vh;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  border: 1.5px solid #21092f;
}
.form_container .submit button:hover {
  color: #21092f;
  background-color: white;
}

.card_front {
  position: absolute;
  background-image: url(images/bg-card-front.png);
  background-size: cover;
  width: 18rem;
  height: 10rem;
  display: flex;
  border-radius: 10px;
  left: 10%;
  top: 20%;
}
.card_front img {
  width: 4rem;
  height: 2rem;
  margin-left: 0.4rem;
  margin-top: 0.4rem;
}
.card_front figcaption {
  position: relative;
  top: 50%;
  right: 19%;
  width: 16rem;
  color: white;
}
.card_front .number {
  font-size: 1.2rem;
  text-align: center;
}
.card_front .name_date {
  margin-top: 1.8rem;
  width: 17rem;
  font-size: 0.65rem;
}
.card_front .name_date .date {
  float: right;
}

.card_back {
  position: absolute;
  background-image: url(images/bg-card-back.png);
  background-size: cover;
  width: 18rem;
  height: 10rem;
  display: flex;
  border-radius: 10px;
  left: 14%;
  top: 50%;
}
.card_back span {
  position: relative;
  top: 42%;
  color: white;
  left: 78%;
}

.completed {
  width: 80%;
  height: 97vh;
  display: none;
}
.completed .completed_msg_container {
  position: relative;
  left: 40%;
  top: 50%;
  transform: translate(-10%, -50%);
  width: 60%;
  text-align: center;
}
.completed .completed_msg_container div {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.completed .completed_msg_container .thank {
  font-size: 2rem;
}
.completed .completed_msg_container .add {
  color: #8e8593;
}
.completed .completed_msg_container button {
  background-color: #21092f;
  width: 24rem;
  border-radius: 10px;
  height: 5vh;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  border: 1.5px solid #21092f;
  margin-top: 1rem;
}
.completed .completed_msg_container button:hover {
  color: #21092f;
  background-color: white;
}

#date_error {
  margin-bottom: 0.5rem;
}

.attribution {
  position: absolute;
  bottom: 1%;
  left: 50%;
}

.error {
  color: red;
  font-size: 0.65rem;
  margin-top: -0.3rem;
  margin-left: 0.6rem;
}

@media only screen and (max-width: 450px) {
  .cards_container {
    width: 100%;
    height: 20vh;
    background-image: url(images/bg-main-desktop.png);
  }
  .container {
    display: block;
  }
  .card_back {
    position: absolute;
  }
  .form_container {
    width: 100%;
    height: 80vh;
  }
  .form_container input {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .form_container label {
    text-transform: uppercase;
    font-size: 0.65rem;
    color: #8e8593;
  }
  .form_container .cards_info_container {
    position: relative;
    left: 40%;
    top: 45%;
    transform: translate(-40%, -50%);
    width: 80%;
  }
  .form_container .cards_info_container input {
    width: 17rem;
    border-radius: 10px;
    border: 1.5px solid #8e8593;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  .form_container .cards_info_container input::active {
    border: 1.5px solid Linear-gradient(#6448fe, #600594);
  }
  .form_container .date_container {
    display: flex;
  }
  .form_container .date_container input {
    width: 2rem;
    border: 1.5px solid #8e8593;
    font-size: 1rem;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
  }
  .form_container .date_container input::active {
    border: 1.5px solid Linear-gradient(#6448fe, #600594);
  }
  .form_container .date_container .date_info_p2 {
    margin-left: 1.5rem;
  }
  .form_container .date_container .date_info_p2 #cvc {
    width: 5rem;
    border: 1.5px solid #8e8593;
    font-size: 1rem;
    border-radius: 10px;
    padding: 0.5rem 1rem;
  }
  .form_container .submit button {
    background-color: #21092f;
    width: 19rem;
    border-radius: 10px;
    height: 5vh;
    color: white;
    font-family: "Space Grotesk", sans-serif;
    font-size: 1rem;
    border: 1.5px solid #21092f;
  }
  .form_container .submit button:hover {
    color: #21092f;
    background-color: white;
  }
  .card_front {
    position: absolute;
    background-image: url(images/bg-card-front.png);
    background-size: cover;
    width: 12rem;
    height: 7rem;
    display: flex;
    border-radius: 10px;
    left: 4%;
    top: 10%;
    z-index: 9;
  }
  .card_front img {
    width: 3rem;
    height: 1.5rem;
    margin-left: 0.4rem;
    margin-top: 0.4rem;
  }
  .card_front figcaption {
    position: relative;
    top: 50%;
    right: 23%;
    width: 12rem;
    color: white;
  }
  .card_front .number {
    font-size: 0.85rem;
    text-align: center;
  }
  .card_front .name_date {
    margin-top: 1rem;
    width: 11rem;
    font-size: 0.65rem;
  }
  .card_front .name_date .date {
    float: right;
  }
  .card_back {
    position: absolute;
    background-image: url(images/bg-card-back.png);
    background-size: cover;
    width: 12rem;
    height: 7rem;
    display: flex;
    border-radius: 10px;
    left: 14%;
    top: 1%;
  }
  .card_back span {
    position: relative;
    top: 43%;
    color: white;
    left: 82%;
    font-size: 0.65rem;
  }
  .attribution {
    position: absolute;
    bottom: 1%;
    width: 50%;
    left: 25%;
  }
  .completed {
    width: 100%;
    height: 80vh;
    display: none;
  }
  .completed .completed_msg_container {
    position: relative;
    left: 10%;
    top: 40%;
    transform: translate(-10%, -50%);
    width: 100%;
    text-align: center;
  }
  .completed .completed_msg_container div {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .completed .completed_msg_container .thank {
    font-size: 2rem;
  }
  .completed .completed_msg_container .add {
    color: #8e8593;
  }
  .completed .completed_msg_container button {
    background-color: #21092f;
    width: 16rem;
    border-radius: 10px;
    height: 5vh;
    color: white;
    font-family: "Space Grotesk", sans-serif;
    font-size: 1rem;
    border: 1.5px solid #21092f;
  }
  .completed .completed_msg_container button:active {
    color: #21092f;
    background-color: white;
  }
}/*# sourceMappingURL=index.css.map */